<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--IOC扫描器-->
    <context:component-scan base-package="cn.wolfcode.edu"/>
    <!--DI扫描器-->
    <context:annotation-config/>
    <!--Mapper扫描器:MapperScannerConfigurer-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.wolfcode.edu.mapper"></property>
    </bean>
    <!--配置创建Mapper需要的SQLSessionFactory对象: SqlSessionFactoryBean -->
    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis.cfg.xml"/>
        <property name="mapperLocations" value="classpath:cn/wolfcode/edu/mapper/*Mapper.xml"/>
        <property name="dataSource" ref="dataSource"></property>
        <property name="typeAliasesPackage" value="cn.wolfcode.edu.domain"/>
    </bean>
    <!--加载db.properties-->
    <context:property-placeholder location="classpath:db.properties" system-properties-mode="NEVER"/>
    <!--配置创建SQLSessionFactory需要的连接池对象:DruidDataSource-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--日志操作bean-->
    <bean id="logAspect" class="cn.wolfcode.edu.util.SystemlogAspect">
        <property name="systemlogService" ref="systemlogServiceImpl"/>
    </bean>
    <!--事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--事务的增强-->
    <tx:advice id="advice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="query*" read-only="true" propagation="SUPPORTS"/>
            <tx:method name="get*" read-only="true" propagation="SUPPORTS"/>
            <tx:method name="list*" read-only="true" propagation="SUPPORTS"/>
            <tx:method name="select*" read-only="true" propagation="SUPPORTS"/>
            <tx:method name="check*" read-only="true" propagation="SUPPORTS"/>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>
    <!--使用AOP在service层织入事务管理-->
    <aop:config>
        <aop:pointcut expression="execution(* cn.wolfcode.edu.service.*.*(..))" id="crudPointCut"/>
        <aop:advisor advice-ref="advice" pointcut-ref="crudPointCut"/>
        <!--日志的切面操作-->
        <aop:aspect ref="logAspect">
            <aop:after method="write" pointcut-ref="crudPointCut"/>
        </aop:aspect>
    </aop:config>
    <!-- 开启aop，对类代理 -->
    <aop:config proxy-target-class="true"></aop:config>
    <!-- 开启shiro注解支持 -->
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager" />
    </bean>
</beans>