<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--开启延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--按需加载:在我们需要访问依赖对象的时候,再触发延迟加载-->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--设置在访问住对象中的clone方法的时候触发延迟加载而在访问Object对象中equals/toString等不需要-->
        <setting name="lazyLoadTriggerMethods" value="clone,hashCode"/>
    </settings>
</configuration>