<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.edu.mapper.ClientMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.edu.domain.Client" >
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="traceTimes" property="traceTimes" />
    <!--关于各种日期时间的-->
    <result column="lastTraceDate" property="lastTraceDate" />
    <result column="bookDate" property="bookDate" />
    <result column="nextTraceDate" property="nextTraceDate" />
    <result column="buildDate" property="buildDate" />
    <result column="inputDate" property="inputDate" />
      <result column="transferDate" property="transferDate"/>
    <!--大学入学时间-->
    <result column="collegeAdmissionTime" property="collegeAdmissionTime" />

    <result column="weChatNum" property="weChatNum" />
    <result column="QQNum" property="QQNum" />
    <result column="tel" property="tel" />
    <result column="school" property="school" />
    <result column="isManTrace" property="isManTrace" />
    <result column="remark" property="remark" />
    <result column="age" property="age" />
    <result column="gender" property="gender" />
    <result column="email" property="email" />
    <result column="address" property="address" />
    <result column="withComputer" property="withComputer" />
    <result column="clientAttentionWhat" property="clientAttentionWhat" />
    <result column="introduce_man_id" property="introduceManId" />
    <result column="pay_status_id" property="payStatusId" />
    <result column="clientType" property="clientTypeId" />
    <result column="state_id" property="stateId" />
    <!--来源数据字典的-->
   <!-- <result column="hometown_id" property="hometownId" />
    <result column="client_type_id" property="clientTypeId" />
    <result column="degree_of_intention_id" property="degreeOfIntentionId" />
    <result column="intention_school_id" property="intentionSchoolId" />
    <result column="intention_class_id" property="intentionClassId" />
    <result column="major_id" property="majorId" />
    <result column="years_of_work_experience_id" property="yearsOfWorkExperienceId" />
        <result column="education_id" property="educationId"/>
        <result column="source_of_client_id" property="sourceOfClientId"/>-->

      <association property="hometown" javaType="DataDictionaryItem" columnPrefix="hometown_">
          <id column="id" property="id"/>
          <result column="name" property="name"/>
      </association>
      <association property="clientState" javaType="DataDictionaryItem" columnPrefix="clientState_">
          <id column="id" property="id"/>
          <result column="name" property="name"/>
      </association>
      <association property="degreeOfIntention" javaType="DataDictionaryItem" columnPrefix="degreeOfIntention_">
          <id column="id" property="id"/>
          <result column="name" property="name"/>
      </association>
      <association property="intentionSchool" javaType="DataDictionaryItem" columnPrefix="intentionSchool_">
          <id column="id" property="id"/>
          <result column="name" property="name"/>
      </association>
      <association property="major" javaType="DataDictionaryItem" columnPrefix="major_">
          <id column="id" property="id"/>
          <result column="name" property="name"/>
      </association>
      <association property="yearsOfWorkExperience" javaType="DataDictionaryItem" columnPrefix="yearsOfWorkExperience_">
          <id column="id" property="id"/>
          <result column="name" property="name"/>
      </association>
      <association property="education" javaType="DataDictionaryItem" columnPrefix="education_">
          <id column="id" property="id"/>
          <result column="name" property="name"/>
      </association>
      <association property="sourceOfClient" javaType="DataDictionaryItem" columnPrefix="sourceOfClient_">
          <id column="id" property="id"/>
          <result column="name" property="name"/>
      </association>
      <association property="intentionClass" javaType="DataDictionaryItem" columnPrefix="intentionClass_">
          <id column="id" property="id"/>
          <result column="name" property="name"/>
      </association>
    <!--关联学校的客户-->
      <!--<result column="school_id" property="schoolId"/>-->
      <association property="clientMajor" columnPrefix="clientMajor_" javaType="ClientMajor">
          <id column="id" property="id"/>
          <result column="name" property="name"/>
      </association>
        <!--关联employee表的-->
        <association property="saleMan" javaType="cn.wolfcode.edu.domain.Employee" columnPrefix="sale_man_">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
            <result column="realname" property="realname"/>
        </association>
        <association property="inputMan" javaType="cn.wolfcode.edu.domain.Employee" columnPrefix="input_man_">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
            <result column="realname" property="realname"/>
        </association>

        <!--关联收款表-->
      <association property="studentReceiptGather" javaType="cn.wolfcode.edu.domain.StudentReceiptGather">
          <id column="srg_id" property="id"/>
          <result column="srg_totalmoney" property="totalmoney"/>
          <result column="srg_totalreceiptmoney" property="totalreceiptmoney"/>
          <result column="srg_unpaidmoney" property="unpaidmoney"/>
      </association>
        <association property="receiptBill" javaType="cn.wolfcode.edu.domain.ReceiptBill">
            <id column="bill_id" property="id"/>
            <result column="bill_state" property="state"/>
        </association>
        <association property="receiptBill.campus" javaType="cn.wolfcode.edu.domain.Campus">
            <id column="cam_id" property="id"/>
            <result column="cam_name" property="name"/>
        </association>
        <association property="receiptBill.grade" javaType="Grade">
            <id column="g_id" property="id"/>
            <result column="g_name" property="name"/>
        </association>

      <!--资源池中转移给谁的接收人-->
      <association property="acceptMan" javaType="Employee" columnPrefix="acceptMan_">
          <id column="id" property="id"/>
          <result column="username" property="username"/>
      </association>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from `client`
    where id = #{id}
  </delete>
    <insert id="insert" parameterType="cn.wolfcode.edu.domain.Client" useGeneratedKeys="true" keyProperty="id">
    insert into `client` ( name, sale_man_id, input_man_id, traceTimes,
    lastTraceDate, bookDate,transferDate
      nextTraceDate, weChatNum, QQNum, tel, school, degree_of_intention_id, 
      intention_school_id, intention_class_id, state_id, isManTrace, remark, 
      buildDate,inputDate, source_of_client_id, age, gender, email, address, school_id,
      education_id, hometown_id, collegeAdmissionTime, major_id, years_of_work_experience_id, 
      introduce_man_id, pay_status_id, withComputer, clientAttentionWhat, client_type_id,client_state
      )
    values (#{name}, #{saleMan.id}, #{inputMan.id}, #{traceTimes}, #{lastTraceDate}, #{bookDate},#{transferDate}
      #{nextTraceDate}, #{weChatNum}, #{QQNum}, #{tel}, #{school}, #{degreeOfIntention.id},
      #{intentionSchool.id}, #{intentionClass.id}, #{stateId}, #{isManTrace}, #{remark},
      #{buildDate}, #{inputDate}, #{sourceOfClient.id}, #{age}, #{gender}, #{email}, #{address}, #{clientMajor.id},
      #{education.id}, #{hometown.id}, #{collegeAdmissionTime}, #{major.id}, #{yearsOfWorkExperience.id},
      #{introduceManId}, #{payStatusId}, #{withComputer}, #{clientAttentionWhat}, #{clientTypeId},#{clientState.id}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.edu.domain.Client" >
    update `client`
    set
      name= #{name},
      sale_man_id = #{saleMan.id},
      input_man_id = #{inputMan.id},
      traceTimes = #{traceTimes},
      lastTraceDate = #{lastTraceDate},
      bookDate = #{bookDate},
      nextTraceDate = #{nextTraceDate},
      weChatNum = #{weChatNum},
      QQNum = #{QQNum},
      tel = #{tel},
      school = #{school},
      degree_of_intention_id = #{degreeOfIntention.id},
      intention_school_id = #{intentionSchool.id},
      intention_class_id = #{intentionClass.id},
      state_id = #{stateId},
      isManTrace = #{isManTrace},
      remark = #{remark},
      buildDate = #{buildDate},
      inputDate = #{inputDate},
      source_of_client_id = #{sourceOfClient.id},
      age = #{age},
      gender = #{gender},
      email = #{email},
      address = #{address},
      school_id = #{clientMajor.id},
      education_id = #{education.id},
      hometown_id = #{hometown.id},
      collegeAdmissionTime = #{collegeAdmissionTime},
      major_id = #{major.id},
      years_of_work_experience_id = #{yearsOfWorkExperience.id},
      introduce_man_id = #{introduceManId},
      pay_status_id = #{payStatusId},
      withComputer = #{withComputer},
      clientAttentionWhat = #{clientAttentionWhat},
      client_type_id = #{clientTypeId},
      client_state = #{clientState.id}
    where id = #{id}
  </update>

    <update id="updateByStudent" parameterType="cn.wolfcode.edu.domain.Client" >
        update `client`
        set
        name= #{name},
        weChatNum = #{weChatNum},
        QQNum = #{QQNum},
        tel = #{tel},
        intention_school_id = #{intentionSchool.id},
        intention_class_id = #{intentionClass.id},
        source_of_client_id = #{sourceOfClient.id},
        age = #{age},
        gender = #{gender},
        email = #{email},
        address = #{address},
        school = #{school},
        education_id = #{education.id},
        hometown_id = #{hometown.id},
        major_id = #{major.id},
        years_of_work_experience_id = #{yearsOfWorkExperience.id},
        withComputer = #{withComputer},
        client_type_id = #{clientTypeId}
        where id = #{id}
    </update>

  <!--潜在学员转正 放入资源池 只需要更新stateId即可-->
  <update id="changeState">
    update client set state_id=#{stateId} where id=#{id}

  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
      select c.id,c.name,
      input_man.id input_man_id, input_man.username input_man_username, input_man.realname input_man_realname,
      sale_man.id sale_man_id, sale_man.username sale_man_username, sale_man.realname sale_man_realname,
      c.traceTimes,c.name, c.age, c.gender,
      c.lastTraceDate, c.bookDate,c.nextTraceDate,
      c.weChatNum, c.QQNum, c.tel, c.school, c.email, c.address,
      c.degree_of_intention_id, c.intention_school_id, c.intention_class_id,
      c.state_id, c.isManTrace, c.remark, c.client_state,
      degreeOfIntention.id degreeOfIntention_id, degreeOfIntention.name degreeOfIntention_name,
      intentionSchool.id intentionSchool_id, intentionSchool.name intentionSchool_name,
      intentionClass.id intentionClass_id, intentionClass.name intentionClass_name,
      clientState.id clientState_id, clientState.name clientState_name,
      hometown.id hometown_id, hometown.name hometown_name,
      major.id major_id, major.name major_name,
      yearsOfWorkExperience.id yearsOfWorkExperience_id, yearsOfWorkExperience.name yearsOfWorkExperience_name,
      education.id education_id, education.name education_name,
      sourceOfClient.id sourceOfClient_id, sourceOfClient.name sourceOfClient_name,
      clientMajor.id clientMajor_id,clientMajor.name clientMajor_name
      from client c
      left join employee sale_man on sale_man.id=c.sale_man_id
      left join employee input_man on input_man.id=c.input_man_id
      left join clientmajor clientMajor on clientMajor.id=c.school_id
      left join datadictionaryitem degreeOfIntention on c.degree_of_intention_id=degreeOfIntention.id
      left join datadictionaryitem intentionSchool on c.intention_school_id=intentionSchool.id
      left join datadictionaryitem intentionClass on c.intention_class_id=intentionClass.id
      left join datadictionaryitem clientState on c.client_state=clientState.id
      left join datadictionaryitem hometown on c.hometown_id=hometown.id
      left join datadictionaryitem major on c.major_id=major.id
      left join datadictionaryitem yearsOfWorkExperience on c.years_of_work_experience_id=yearsOfWorkExperience.id
      left join datadictionaryitem education on c.education_id=education.id
      left join datadictionaryitem sourceOfClient on c.source_of_client_id=sourceOfClient.id
    where c.id = #{clientId}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, sale_man_id, input_man_id, traceTimes, lastTraceDate, bookDate, nextTraceDate,
    weChatNum, QQNum, tel, school, degree_of_intention_id, intention_school_id, intention_class_id,
    state_id, isManTrace, remark, buildDate,inputDate, source_of_client_id, age, gender, email,
    address, school_id, education_id, hometown_id, collegeAdmissionTime, major_id, years_of_work_experience_id, 
    introduce_man_id, pay_status_id, withComputer, clientAttentionWhat, client_type_id,client_state
    from client c
    left join employee sale_man on sale_man.id=c.sale_man_id
    left join employee input_man on input_man.id=c.input_man_id

  </select>

  <select id="queryForCount" resultType="int">

    select count(c.id)
     from client c
        left join employee sale_man on sale_man.id=c.sale_man_id
        left join employee input_man on input_man.id=c.input_man_id
        left join clientmajor clientMajor on clientMajor.id=c.school_id
        left join datadictionaryitem degreeOfIntention on c.degree_of_intention_id=degreeOfIntention.id
        left join datadictionaryitem intentionSchool on c.intention_school_id=intentionSchool.id
        left join datadictionaryitem intentionClass on c.intention_class_id=intentionClass.id
        left join datadictionaryitem clientState on c.client_state=clientState.id
        left join datadictionaryitem hometown on c.hometown_id=hometown.id
        left join datadictionaryitem major on c.major_id=major.id
        left join datadictionaryitem yearsOfWorkExperience on c.years_of_work_experience_id=yearsOfWorkExperience.id
        left join datadictionaryitem education on c.education_id=education.id
        left join datadictionaryitem sourceOfClient on c.source_of_client_id=sourceOfClient.id
    where state_id=0
  </select>
    <select id="queryForList" resultMap="BaseResultMap">

   select c.id,c.name,
        input_man.id input_man_id, input_man.username input_man_username, input_man.realname input_man_realname,
        sale_man.id sale_man_id, sale_man.username sale_man_username, sale_man.realname sale_man_realname,
        c.traceTimes,c.name, c.age, c.gender,
        c.lastTraceDate, c.bookDate,c.nextTraceDate,
        c.weChatNum, c.QQNum, c.tel, c.school, c.email, c.address,
        c.degree_of_intention_id, c.intention_school_id, c.intention_class_id,
        c.state_id, c.isManTrace, c.remark, c.client_state,
        degreeOfIntention.id degreeOfIntention_id, degreeOfIntention.name degreeOfIntention_name,
        intentionSchool.id intentionSchool_id, intentionSchool.name intentionSchool_name,
        intentionClass.id intentionClass_id, intentionClass.name intentionClass_name,
        clientState.id clientState_id, clientState.name clientState_name,
        hometown.id hometown_id, hometown.name hometown_name,
        major.id major_id, major.name major_name,
        yearsOfWorkExperience.id yearsOfWorkExperience_id, yearsOfWorkExperience.name yearsOfWorkExperience_name,
        education.id education_id, education.name education_name,
        sourceOfClient.id sourceOfClient_id, sourceOfClient.name sourceOfClient_name,
        clientMajor.id clientMajor_id,clientMajor.name clientMajor_name
        from client c
        left join employee sale_man on sale_man.id=c.sale_man_id
        left join employee input_man on input_man.id=c.input_man_id
        left join clientmajor clientMajor on clientMajor.id=c.school_id
        left join datadictionaryitem degreeOfIntention on c.degree_of_intention_id=degreeOfIntention.id
        left join datadictionaryitem intentionSchool on c.intention_school_id=intentionSchool.id
        left join datadictionaryitem intentionClass on c.intention_class_id=intentionClass.id
        left join datadictionaryitem clientState on c.client_state=clientState.id
        left join datadictionaryitem hometown on c.hometown_id=hometown.id
        left join datadictionaryitem major on c.major_id=major.id
        left join datadictionaryitem yearsOfWorkExperience on c.years_of_work_experience_id=yearsOfWorkExperience.id
        left join datadictionaryitem education on c.education_id=education.id
        left join datadictionaryitem sourceOfClient on c.source_of_client_id=sourceOfClient.id
    where state_id=0
    limit #{startIndex},#{rows}
  </select>

    <select id="queryClients" resultMap="BaseResultMap">

        select c.id,
        input_man.id input_man_id, input_man.username input_man_username, input_man.realname input_man_realname,
        sale_man.id sale_man_id, sale_man.username sale_man_username, sale_man.realname sale_man_realname,
        c.traceTimes,c.name, c.age, c.gender,
        c.lastTraceDate, c.bookDate,c.nextTraceDate,
        c.weChatNum, c.QQNum, c.tel, c.school, c.email, c.address,
        c.degree_of_intention_id, c.intention_school_id, c.intention_class_id,
        c.state_id, c.isManTrace, c.remark, c.client_state,
        srg.id srg_id, srg.totalmoney srg_totalmoney, srg.totalreceiptmoney srg_totalreceiptmoney, srg.unpaidmoney srg_unpaidmoney,
        bill.id bill_id, bill.state bill_state,
        cam.id cam_id, cam.name cam_name,
        g.id g_id, g.name g_name,
        degreeOfIntention.id degreeOfIntention_id, degreeOfIntention.name degreeOfIntention_name,
        intentionSchool.id intentionSchool_id, intentionSchool.name intentionSchool_name,
        intentionClass.id intentionClass_id, intentionClass.name intentionClass_name,
        clientState.id clientState_id, clientState.name clientState_name,
        hometown.id hometown_id, hometown.name hometown_name,
        major.id major_id, major.name major_name,
        yearsOfWorkExperience.id yearsOfWorkExperience_id, yearsOfWorkExperience.name yearsOfWorkExperience_name,
        education.id education_id, education.name education_name,
        sourceOfClient.id sourceOfClient_id, sourceOfClient.name sourceOfClient_name
        from client c
        left join employee sale_man on sale_man.id=c.sale_man_id
        left join employee input_man on input_man.id=c.input_man_id
        left join studentReceiptGather srg on srg.client_id = c.id
        left join receiptbill bill on bill.client_id = c.id
        left join campus cam on bill.campus_id = cam.id
        left join grade g on bill.grade_id = g.id
        left join datadictionaryitem degreeOfIntention on c.degree_of_intention_id=degreeOfIntention.id
        left join datadictionaryitem intentionSchool on c.intention_school_id=intentionSchool.id
        left join datadictionaryitem intentionClass on c.intention_class_id=intentionClass.id
        left join datadictionaryitem clientState on c.client_state=clientState.id
        left join datadictionaryitem hometown on c.hometown_id=hometown.id
        left join datadictionaryitem major on c.major_id=major.id
        left join datadictionaryitem yearsOfWorkExperience on c.years_of_work_experience_id=yearsOfWorkExperience.id
        left join datadictionaryitem education on c.education_id=education.id
        left join datadictionaryitem sourceOfClient on c.source_of_client_id=sourceOfClient.id
    where c.state_id in(1,3,4)
    <include refid="BASE_WHERE"></include>
  </select>
  <!--资源池列表-->
  <select id="queryPoolClientList" resultMap="BaseResultMap" >

 select c.id,c.name,
        input_man.id input_man_id, input_man.username input_man_username, input_man.realname input_man_realname,
        sale_man.id sale_man_id, sale_man.username sale_man_username, sale_man.realname sale_man_realname,
        c.traceTimes,c.name, c.age, c.gender,
        c.lastTraceDate, c.bookDate,c.nextTraceDate,
        c.weChatNum, c.QQNum, c.tel, c.school, c.email, c.address,
        c.degree_of_intention_id, c.intention_school_id, c.intention_class_id,
        c.state_id, c.isManTrace, c.remark, c.client_state,
        degreeOfIntention.id degreeOfIntention_id, degreeOfIntention.name degreeOfIntention_name,
        intentionSchool.id intentionSchool_id, intentionSchool.name intentionSchool_name,
        intentionClass.id intentionClass_id, intentionClass.name intentionClass_name,
        clientState.id clientState_id, clientState.name clientState_name,
        hometown.id hometown_id, hometown.name hometown_name,
        major.id major_id, major.name major_name,
        yearsOfWorkExperience.id yearsOfWorkExperience_id, yearsOfWorkExperience.name yearsOfWorkExperience_name,
        education.id education_id, education.name education_name,
        sourceOfClient.id sourceOfClient_id, sourceOfClient.name sourceOfClient_name,
        clientMajor.id clientMajor_id,clientMajor.name clientMajor_name,
        acceptMan.id acceptMan_id,acceptMan.username acceptMan_username
        from client c
        left join employee sale_man on sale_man.id=c.sale_man_id
        left join employee input_man on input_man.id=c.input_man_id
        left join clientmajor clientMajor on clientMajor.id=c.school_id
        left join datadictionaryitem degreeOfIntention on c.degree_of_intention_id=degreeOfIntention.id
        left join datadictionaryitem intentionSchool on c.intention_school_id=intentionSchool.id
        left join datadictionaryitem intentionClass on c.intention_class_id=intentionClass.id
        left join datadictionaryitem clientState on c.client_state=clientState.id
        left join datadictionaryitem hometown on c.hometown_id=hometown.id
        left join datadictionaryitem major on c.major_id=major.id
        left join datadictionaryitem yearsOfWorkExperience on c.years_of_work_experience_id=yearsOfWorkExperience.id
        left join datadictionaryitem education on c.education_id=education.id
        left join datadictionaryitem sourceOfClient on c.source_of_client_id=sourceOfClient.id
        left join employee acceptMan on acceptMan.id=c.accept_man_id
    where state_id=2
    limit #{startIndex},#{rows}
  </select>
<!--资源池列表的total-->
  <select id="queryForPoolClientCount" resultType="int">

    select count(c.id)  from client c
        left join employee sale_man on sale_man.id=c.sale_man_id
        left join employee input_man on input_man.id=c.input_man_id
        left join clientmajor clientMajor on clientMajor.id=c.school_id
        left join datadictionaryitem degreeOfIntention on c.degree_of_intention_id=degreeOfIntention.id
        left join datadictionaryitem intentionSchool on c.intention_school_id=intentionSchool.id
        left join datadictionaryitem intentionClass on c.intention_class_id=intentionClass.id
        left join datadictionaryitem clientState on c.client_state=clientState.id
        left join datadictionaryitem hometown on c.hometown_id=hometown.id
        left join datadictionaryitem major on c.major_id=major.id
        left join datadictionaryitem yearsOfWorkExperience on c.years_of_work_experience_id=yearsOfWorkExperience.id
        left join datadictionaryitem education on c.education_id=education.id
        left join datadictionaryitem sourceOfClient on c.source_of_client_id=sourceOfClient.id
        left join employee acceptMan on acceptMan.id=c.accept_man_id
    where state_id=2
  </select>
  <!--保存资源池-->
  <insert id="insertPoolClient">
    insert into clientresourcepool
     (name,sale_man_id,school,gender,traceTimes,lastTraceTime,tel,remark)
    values (#{name},#{saleMan.id},#{school},#{gender},#{traceTimes},#{lastTraceTime},
    #{tel},#{remark})
  </insert>

    <sql id="BASE_WHERE">
        <if test="keyword != null">
            and (c.name LIKE concat("%",#{keyword},"%") or c.tel LIKE concat("%",#{keyword},"%"))
        </if>
        <if test="begindate != null">
            and bill.receiptTime >= #{begindate}
        </if>
        <if test="enddate != null">
            and bill.receiptTime &lt;= #{enddate}
        </if>
    </sql>

    <select id="listStudents" resultMap="BaseResultMap">

          select c.id,
          input_man.id input_man_id, input_man.username input_man_username, input_man.realname input_man_realname,
          sale_man.id sale_man_id, sale_man.username sale_man_username, sale_man.realname sale_man_realname,
          c.traceTimes,c.name, c.age, c.gender,
          c.lastTraceDate, c.bookDate,c.nextTraceDate,
          c.weChatNum, c.QQNum, c.tel, c.school, c.email, c.address,
          c.degree_of_intention_id, c.intention_school_id, c.intention_class_id,
          c.state_id, c.isManTrace, c.remark, c.client_state,
          bill.id bill_id, bill.totalMoney bill_totalMoney, bill.receiptMoney bill_receiptMoney, bill.receiptTime bill_receiptTime, bill.state bill_state,
          pay.id pay_id, pay.payname pay_payname,
          cam.id cam_id, cam.name cam_name
          from client c
          left join employee sale_man on sale_man.id=c.sale_man_id
          left join employee input_man on input_man.id=c.input_man_id
          left join receiptbill bill on bill.client_id = c.id
          left join payment pay on bill.payment_id = pay.id
          left join campus cam on bill.campus_id = cam.id

           where c.client_state = 1
     </select>
</mapper>