<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.edu.mapper.ClientMajorMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.edu.domain.ClientMajor" >
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="important_degree" property="importantDegree" />
    <result column="intention_degree" property="intentionDegree" />
    <result column="intention_class" property="intentionClass" />
    <result column="intention_school" property="intentionSchool" />
    <result column="client_state" property="clientState" />
    <result column="trace_state" property="traceState" />
    <result column="preferential_policy" property="preferentialPolicy" />
    <result column="perv_trace_date" property="pervTraceDate" />
    <result column="next_trace_time" property="nextTraceTime" />
    <result column="address" property="address" />
    <result column="tel" property="tel" />
    <result column="email" property="email" />
    <result column="nature_of_school" property="natureOfSchool" />
    <result column="academic_diplomas" property="academicDiplomas" />
    <result column="school_system" property="schoolSystem" />
    <result column="postcode" property="postcode" />
    <result column="website" property="website" />
    <result column="student_total" property="studentTotal" />
    <result column="stuent_total_IT" property="stuentTotalIT" />
    <result column="schoo_introduce" property="schooIntroduce" />
    <result column="remark" property="remark" />
    <association property="saleMan" javaType="Employee" columnPrefix="sale_man_">
      <id property="id" column="id"/>
      <result column="username" property="username"/>
    </association>
    <association property="traceMan" javaType="Employee" columnPrefix="trace_man_">
      <id property="id" column="id"/>
      <result column="username" property="username"/>
    </association>
    <association property="contactPerson" javaType="ClientSchoolLinkman" columnPrefix="contact_man_">
      <id property="id" column="id"/>
      <result column="name" property="name"/>
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `clientmajor`
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="cn.wolfcode.edu.domain.ClientMajor" useGeneratedKeys="true" keyProperty="id" >
    insert into `clientmajor` (name, important_degree, intention_degree, intention_class, intention_school, 
      contact_person_id, sale_man_id, trace_man_id, client_state, trace_state, 
      preferential_policy, perv_trace_date, next_trace_time, address, tel, 
      email, nature_of_school, academic_diplomas, school_system, postcode, 
      website, student_total, stuent_total_IT, schoo_introduce, remark)
    values (#{name}, #{importantDegree}, #{intentionDegree}, #{intentionClass}, #{intentionSchool}, 
      #{contactPerson.id}, #{saleMan.id}, #{traceMan.id}, #{clientState}, #{traceState},
      #{preferentialPolicy}, #{pervTraceDate}, #{nextTraceTime}, #{address}, #{tel}, 
      #{email}, #{natureOfSchool}, #{academicDiplomas}, #{schoolSystem}, #{postcode}, 
      #{website}, #{studentTotal}, #{stuentTotalIT}, #{schooIntroduce}, #{remark})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.edu.domain.ClientMajor" >
    update `clientmajor`
    set name = #{name},
      important_degree = #{importantDegree},
      intention_degree = #{intentionDegree},
      intention_class = #{intentionClass},
      intention_school = #{intentionSchool},
      contact_person_id = #{contactPerson.id},
      sale_man_id = #{saleMan.id},
      trace_man_id = #{traceMan.id},
      client_state = #{clientState},
      trace_state = #{traceState},
      preferential_policy = #{preferentialPolicy},
      perv_trace_date = #{pervTraceDate},
      next_trace_time = #{nextTraceTime},
      address = #{address},
      tel = #{tel},
      email = #{email},
      nature_of_school = #{natureOfSchool},
      academic_diplomas = #{academicDiplomas},
      school_system = #{schoolSystem},
      postcode = #{postcode},
      website = #{website},
      student_total = #{studentTotal},
      stuent_total_IT = #{stuentTotalIT},
      schoo_introduce = #{schooIntroduce},
      remark = #{remark}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, name, important_degree, intention_degree, intention_class, intention_school, 
    contact_person_id, sale_man_id, trace_man_id, client_state, trace_state, preferential_policy, 
    perv_trace_date, next_trace_time, address, tel, email, nature_of_school, academic_diplomas, 
    school_system, postcode, website, student_total, stuent_total_IT, schoo_introduce, 
    remark
    from `clientmajor`
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, important_degree, intention_degree, intention_class, intention_school, 
    contact_person_id, sale_man_id, trace_man_id, client_state, trace_state, preferential_policy, 
    perv_trace_date, next_trace_time, address, tel, email, nature_of_school, academic_diplomas, 
    school_system, postcode, website, student_total, stuent_total_IT, schoo_introduce, 
    remark
    from `clientmajor`
  </select>

  <select id="queryForList" resultMap="BaseResultMap">
    SELECT c.id,c.name,c.tel,c.important_degree,c.client_state, c.trace_state,
    s.id sale_man_id,s.username sale_man_username,
    t.id trace_man_id,t.username trace_man_username,
    m.id  contact_man_id,m.name contact_man_name,m.tel contact_man_tel
    from clientmajor c
    left join clientschoollinkman m on m.id=c.contact_person_id
    left join employee s on s.id=c.sale_man_id
    left join employee t on t.id=c.trace_man_id
    limit #{startIndex},#{rows}
  </select>
  <select id="queryForCount" resultType="int">
    select count(c.id)
    from clientmajor c
    left join clientschoollinkman m on m.id=c.contact_person_id
    left join employee s on s.id=c.sale_man_id
    left join employee t on t.id=c.trace_man_id
  </select>
</mapper>