<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.edu.mapper.ClientMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.edu.domain.Client" >
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="traceTimes" property="traceTimes" />
    <!--关于各种日期时间的-->
    <result column="lastTraceDate" property="lastTraceDate" />
    <result column="bookDate" property="bookDate" />
    <result column="nextTraceDate" property="nextTraceDate" />
    <result column="buildDate" property="buildDate" />
    <result column="inputDate" property="inputDate" />
    <!--大学入学时间-->
    <result column="collegeAdmissionTime" property="collegeAdmissionTime" />

    <result column="weChatNum" property="weChatNum" />
    <result column="QQNum" property="QQNum" />
    <result column="tel" property="tel" />
    <result column="school" property="school" />
    <result column="isManTrace" property="isManTrace" />
    <result column="remark" property="remark" />
    <result column="age" property="age" />
    <result column="gender" property="gender" />
    <result column="email" property="email" />
    <result column="address" property="address" />
    <result column="withComputer" property="withComputer" />
    <result column="clientAttentionWhat" property="clientAttentionWhat" />
    <!--来源数据字典的-->
    <result column="hometown_id" property="hometownId" />
    <result column="introduce_man_id" property="introduceManId" />
    <result column="client_type_id" property="clientTypeId" />
    <result column="degree_of_intention_id" property="degreeOfIntentionId" />
    <result column="intention_school_id" property="intentionSchoolId" />
    <result column="intention_class_id" property="intentionClassId" />
    <result column="state_id" property="stateId" />
    <result column="major_id" property="majorId" />
    <result column="years_of_work_experience_id" property="yearsOfWorkExperienceId" />
    <result column="pay_status_id" property="payStatusId" />
    <result column="clientState" property="clientState" />

    <!--怎么学校有id 不是都是输入 客户学校-->
    <result column="school_id" property="schoolId" />
    <result column="education_id" property="educationId" />
    <!--介绍人  算是公司员工吗?-->
    <result column="source_of_client_id" property="sourceOfClientId" />
    <!--关联employee表的-->
    <association property="saleMan" javaType="Employee"   columnPrefix="sale_man_" >
      <id column="id" property="id" />
      <result column="username" property="username" />
    </association>
    <association property="inputMan" javaType="Employee"   columnPrefix="input_man_" >
      <id column="id" property="id" />
      <result column="username" property="username" />
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `client`
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="cn.wolfcode.edu.domain.Client" useGeneratedKeys="true" keyProperty="id" >
    insert into `client` ( name, sale_man_id, input_man_id, traceTimes,
    lastTraceDate, bookDate,
      nextTraceDate, weChatNum, QQNum, tel, school, degree_of_intention_id, 
      intention_school_id, intention_class_id, state_id, isManTrace, remark, 
      buildDate,inputDate, source_of_client_id, age, gender, email, address, school_id,
      education_id, hometown_id, collegeAdmissionTime, major_id, years_of_work_experience_id, 
      introduce_man_id, pay_status_id, withComputer, clientAttentionWhat, client_type_id,client_state
      )
    values (#{name}, #{saleMan.id}, #{inputMan.id}, #{traceTimes}, #{lastTraceDate}, #{bookDate},
      #{nextTraceDate}, #{weChatNum}, #{QQNum}, #{tel}, #{school}, #{degreeOfIntentionId},
      #{intentionSchoolId}, #{intentionClassId}, #{stateId}, #{isManTrace}, #{remark},
      #{buildDate}, #{inputDate}, #{sourceOfClientId}, #{age}, #{gender}, #{email}, #{address}, #{schoolId},
      #{educationId}, #{hometownId}, #{collegeAdmissionTime}, #{majorId}, #{yearsOfWorkExperienceId},
      #{introduceManId}, #{payStatusId}, #{withComputer}, #{clientAttentionWhat}, #{clientTypeId},#{clientState}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.edu.domain.Client" >
    update `client`
    set
      clientname= #{name},
      sale_man_id = #{saleMan.id},
      input_man_id = #{inputMan.id},
      traceTimes = #{traceTimes},
      lastTraceDate = #{lastTraceDate},
      bookDate = #{bookdate},
      nextTraceDate = #{nexttracedate},
      weChatNum = #{wechatnum},
      QQNum = #{qqnum},
      tel = #{tel},
      school = #{school},
      degree_of_intention_id = #{degreeOfIntentionId},
      intention_school_id = #{intentionSchoolId},
      intention_class_id = #{intentionClassId},
      state_id = #{stateId},
      isManTrace = #{ismantrace},
      remark = #{remark},
      buildDate = #{builddate},
      inputDate = #{inputDate},
      source_of_client_id = #{sourceOfClientId},
      age = #{age},
      gender = #{gender},
      email = #{email},
      address = #{address},
      school_id = #{schoolId},
      education_id = #{educationId},
      hometown_id = #{hometownId},
      collegeAdmissionTime = #{collegeAdmissionTime},
      major_id = #{majorId},
      years_of_work_experience_id = #{yearsOfWorkExperienceId},
      introduce_man_id = #{introduceManId},
      pay_status_id = #{payStatusId},
      withComputer = #{withComputer},
      clientAttentionWhat = #{clientAttentionWhat},
      client_type_id = #{clientTypeId},
      client_state = #{clientState}
    where id = #{id}
  </update>

  <!--潜在学员转正 只需要更新stateId即可-->
  <update id="changeState">
    update client set state_id=1 where id=#{id}

  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select c.id, c.name,  c.traceTimes, c.lastTraceDate, c.bookDate, c.nextTraceDate,
    c.weChatNum, c.QQNum, c.tel, c.school, degree_of_intention_id, intention_school_id, intention_class_id,
    state_id, isManTrace, remark, buildDate, inputDate,source_of_client_id, age, gender, email,
    address, school_id, education_id, hometown_id, collegeAdmissionTime, major_id, years_of_work_experience_id, 
    introduce_man_id, pay_status_id, withComputer, clientAttentionWhat, client_type_id,client_state,
    input_man.id input_man_id, input_man.username input_man_username,
    sale_man.id sale_man_id, sale_man.username sale_man_username
     from client c
    left join employee sale_man on sale_man.id=c.sale_man_id
    left join employee input_man on input_man.id=c.input_man_id
    where c.id = #{clientId}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, sale_man_id, input_man_id, traceTimes, lastTraceDate, bookDate, nextTraceDate,
    weChatNum, QQNum, tel, school, degree_of_intention_id, intention_school_id, intention_class_id,
    state_id, isManTrace, remark, buildDate,inputDate, source_of_client_id, age, gender, email,
    address, school_id, education_id, hometown_id, collegeAdmissionTime, major_id, years_of_work_experience_id, 
    introduce_man_id, pay_status_id, withComputer, clientAttentionWhat, client_type_id,client_state
    from client c
    left join employee sale_man on sale_man.id=c.sale_man_id
    left join employee input_man on input_man.id=c.input_man_id

  </select>

  <select id="queryForCount" resultType="int">

    select count(c.id)
    from client c
    left join employee sale_man on sale_man.id=c.sale_man_id
    left join employee input_man on input_man.id=c.input_man_id
    where state_id=0
  </select>

  <select id="queryForList" resultMap="BaseResultMap">

    select c.id,c.name,
    input_man.id input_man_id, input_man.username input_man_username,
    sale_man.id sale_man_id, sale_man.username sale_man_username,
    c.traceTimes,
    c.lastTraceDate, c.bookDate,c.nextTraceDate,
    c.weChatNum, c.QQNum, c.tel, c.school,
    c.degree_of_intention_id, c.intention_school_id, c.intention_class_id,
    c.state_id, c.isManTrace, c.remark,c.client_state
    from client c
    left join employee sale_man on sale_man.id=c.sale_man_id
    left join employee input_man on input_man.id=c.input_man_id
     where state_id=0
    limit #{startIndex},#{rows}
  </select>

  <select id="queryClients">

  </select>
</mapper>