<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.edu.mapper.ClientTransferRecordMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.edu.domain.ClientTransferRecord" >
    <id column="id" property="id" />
    <result column="qq" property="qq" />
    <result column="tel" property="tel" />
    <result column="currentDate" property="currentdate" />

    <!--<result column="client_id" property="client" />-->
    <association property="client" columnPrefix="client_" javaType="Client">
      <id property="id" column="id"/>
      <result property="name" column="name"/>
    </association>
    <association property="currentTraceMan" columnPrefix="currentTraceMan_" javaType="Employee">
      <id property="id" column="id"/>
      <result property="username" column="username"/>
    </association>
    <association property="originalTraceMan" columnPrefix="originalTraceMan_" javaType="Employee">
      <id property="id" column="id"/>
      <result property="username" column="username"/>
    </association>
    <!--<result column="original_trace_man_id" property="originalTraceMan" />-->
    <!--<result column="current_trace_man" property="currentTraceMan" />-->
    <!--<association property="currentTraceMan" javaType="Employee" columnPrefix="currentTraceMan_">
      <id property="id" column="id"/>
      <result property="username" column="username"/>
    </association>-->
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `clienttransferrecord`
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="cn.wolfcode.edu.domain.ClientTransferRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into `clienttransferrecord` (client_id, qq, tel, currentDate, original_trace_man_id, current_trace_man_id
      )
    values (#{client.id}, #{qq}, #{tel}, #{currentdate}, #{originalTraceMan.id}, #{currentTraceMan.id}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.edu.domain.ClientTransferRecord" >
    update `clienttransferrecord`
    set client_id = #{client.id},
      qq = #{qq},
      tel = #{tel},
      currentDate = #{currentdate},
      original_trace_man_id = #{originalTraceMan.id},
      current_trace_man_id = #{currentTraceMan.id}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, client_id, qq, tel, currentDate, original_trace_man_id, current_trace_man_id
    from `clienttransferrecord`
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, client_id, qq, tel, currentDate, original_trace_man_id, current_trace_man
    from `clienttransferrecord`
  </select>

  <select id="queryForList" resultMap="BaseResultMap">
    select c.id, c.client_id client_id, client.name client_name, c.qq, c.tel, c.currentDate,
     c.original_trace_man_id originalTraceMan_id,originalTraceMan.username originalTraceMan_username,
      c.current_trace_man_id currentTraceMan_id,currentTraceMan.username currentTraceMan_username
    from `clienttransferrecord` c
    left join client client on client.id=c.client_id
    left join employee currentTraceMan on c.current_trace_man_id=currentTraceMan.id
    left join employee originalTraceMan  ON c.original_trace_man_id=originalTraceMan.id
    limit #{startIndex},#{rows}
  </select>

  <select id="queryForCount" resultType="int">
    select count(c.id)
    from `clienttransferrecord` c
    left join client client on client.id=c.client_id
    left join employee currentTraceMan on c.current_trace_man_id=currentTraceMan.id
    left join employee originalTraceMan  ON c.original_trace_man_id=originalTraceMan.id
  </select>
</mapper>