<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.edu.mapper.CourseMapper">
    <resultMap id="BaseResultMap" type="cn.wolfcode.edu.domain.Course">
        <id column="id" property="id"/>
        <result column="sequence" property="sequence"/>
        <result column="coursedate" property="courseDate"/>
        <result column="week" property="week"/>
        <result column="remark" property="remark"/>
        <result column="state" property="state"/>
        <association property="classroom" javaType="ClassRoom" columnPrefix="cm_">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
        </association>
        <association property="classTeacher" javaType="Employee" columnPrefix="cst_">
            <id column="id" property="id"/>
            <result column="realname" property="realname"/>
        </association>
        <association property="courseTeacher" javaType="Employee" columnPrefix="cot_">
            <id column="id" property="id"/>
            <result column="realname" property="realname"/>
        </association>
        <association property="courseName" javaType="CourseName" columnPrefix="cs_">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
        </association>
        <association property="grade" javaType="Grade" columnPrefix="g_">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>
    <update id="updateByPrimaryKey">
        update course set remark=#{remark} where id =#{id}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select id,sequence, coursedate, week, class_teacher_id, course_teacher_id,
    classroom_id, remark, state
    from `course`
    where id = #{id}
  </select>

    <select id="selectAll" resultMap="BaseResultMap">
    select id,sequence, coursedate, week, class_teacher_id, course_teacher_id,
    classroom_id, remark, state
    from `course`
  </select>

    <select id="queryForCount" resultType="int">
        select count(c.id) from course c
        LEFT JOIN grade g ON c.grade_id =g.id
        LEFT JOIN coursename cs on c.coursename_id =cs.id
        LEFT JOIN employee cst on c.class_teacher_id =cst.id
        LEFT JOIN employee cot on c.course_teacher_id =cot.id
        LEFT JOIN classroom cm on c.classroom_id = cm.id
        <include refid="base_where"></include>
        <include refid="date_where"></include>
    </select>

    <select id="queryForList" resultMap="BaseResultMap">
        select c.id,c.sequence,c.coursedate,c.week,
        g.id g_id,g.name g_name,cs.id cs_id,cs.name cs_name,
        cst.id cst_id,cst.realname cst_realname,
        cot.id cot_id,cot.realname cot_realname,
        cm.id cm_id,cm.name cm_name,
        c.remark,c.state
        from course c
        LEFT JOIN grade g ON c.grade_id =g.id
        LEFT JOIN coursename cs on c.coursename_id =cs.id
        LEFT JOIN employee cst on c.class_teacher_id =cst.id
        LEFT JOIN employee cot on c.course_teacher_id =cot.id
        LEFT JOIN classroom cm on c.classroom_id = cm.id
        <include refid="base_where"></include>
        <include refid="date_where"></include>
        limit #{startIndex},#{rows}
    </select>

    <select id="querytodayByDate" resultMap="BaseResultMap">
        select c.id,c.sequence,c.coursedate,c.week,
        g.id g_id,g.name g_name,cs.id cs_id,cs.name cs_name,
        cst.id cst_id,cst.realname cst_realname,
        cot.id cot_id,cot.realname cot_realname,
        cm.id cm_id,cm.name cm_name,
        c.remark,c.state
        from course c
        LEFT JOIN grade g ON c.grade_id =g.id
        LEFT JOIN coursename cs on c.coursename_id =cs.id
        LEFT JOIN employee cst on c.class_teacher_id =cst.id
        LEFT JOIN employee cot on c.course_teacher_id =cot.id
        LEFT JOIN classroom cm on c.classroom_id = cm.id
        where c.coursedate = #{date}
    </select>

    <sql id="base_where">
        <where>
            <if test="empId >0">
                and cst.id = #{empId}
            </if>
            <if test="gradeId >0">
                and g.id = #{gradeId}
            </if>
            <if test="classRoomId >0">
                and cm.id =#{classRoomId}
            </if>
        </where>
    </sql>

    <sql id="date_where">
        <where>
            <if test="begindate !=null">
                and courseDate>= #{begindate}
            </if>
            <if test="enddate !=null">
                and courseDate &lt;= #{enddate}
            </if>
        </where>
    </sql>
</mapper>