<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.edu.mapper.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.edu.domain.Department" >
    <id column="id" property="id"  />
    <result column="sn" property="sn" />
    <result column="name" property="name"/>
    <result column="state" property="state" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `department`
    where id = #{id}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
    insert into `department` (sn, name, state
      )
    values (#{sn}, #{name}, #{state}
      )
  </insert>
  <update id="updateByPrimaryKey">
    update `department`
    set sn = #{sn},
      name = #{name},
      state = #{state}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, sn, name, state
    from `department`
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, sn, name, state
    from `department`
  </select>

  <select id="queryForCount" resultType="int">
    select count(id) from department
    <include refid="base_where"></include>
  </select>
  <select id="queryForList" resultType="Department" >
    select id, sn, name, state
    from `department`
    <include refid="base_where"></include>
    limit #{startIndex},#{rows}
  </select>
  <update id="changeState">
    update department set state=state^1 where id=#{id}
  </update>
  <sql id="base_where">
    <where>
      <if test="keyword!=null">
      and name like COUNT('%',#{keyword},'%')
      </if>

    </where>

  </sql>
</mapper>