<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.edu.mapper.GradeMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.edu.domain.Grade" >
    <id column="id" property="id"  />
    <result column="name" property="name"  />
    <result column="state" property="state"  />
    <association property="classTeacher" javaType="Employee" columnPrefix="e_">
      <id column="id" property="id"  />
      <result column="realname" property="realname"/>
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `grade`
    where id = #{id}
  </delete>

  <insert id="insert" parameterType="cn.wolfcode.edu.domain.Grade" useGeneratedKeys="true" keyProperty="id" >
    insert into `grade` (name,class_teacher_id,state)
    values (#{name},#{classTeacher.id},#{state})
  </insert>

  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.edu.domain.Grade" >
    update `grade`
    set name = #{name},
      class_teacher_id = #{classTeacher.id},
      state = #{state}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, name, class_teacher_id,state
    from `grade`
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, class_teacher_id,state
    from `grade`
  </select>

  <select id="queryForCount" resultType="int">
    select count(g.id) from grade g
    LEFT JOIN employee e on g.class_teacher_id =e.id
    LEFT JOIN grade_coursename gc on g.id =gc.grade_id
    LEFT JOIN coursename c on c.id = gc.coursename_id
    <include refid="base_where"></include>
  </select>

  <select id="queryForList" resultMap="BaseResultMap">
    select g.id,g.name,g.state,e.realname e_realname,e.id e_id,c.id c_id,c.name c_name from grade g
    LEFT JOIN employee e on g.class_teacher_id =e.id
    LEFT JOIN grade_coursename gc on g.id =gc.grade_id
    LEFT JOIN coursename c on c.id = gc.coursename_id
    <include refid="base_where"></include>
    limit #{startIndex},#{rows}
  </select>

  <update id="changeState">
    update grade set state=state^1 where id=#{id}
  </update>

  <sql id="base_where">
    <where>
      <if test="keyword !=null">
        and g.name like concat("%",#{keyword},"%")
      </if>
      <if test="empId !=null">
        and e.realname like concat("%",#{empId},"%")
      </if>
    </where>
  </sql>

  <insert id="insertCourseRelation">
    insert into grade_coursename(grade_id,coursename_id) values(#{gradeId},#{coursenameId})
  </insert>

  <delete id="deleteCourseRelation">
    delete from grade_coursename where grade_id =#{gradeId}
  </delete>
</mapper>