<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.edu.mapper.ReceiptBillMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.edu.domain.ReceiptBill" >
    <id column="id" property="id" />
    <result column="receiptTime" property="receipttime" />
    <result column="receiptMoney" property="receiptmoney" />
    <result column="billNum" property="billnum" />
    <result column="remark" property="remark" />
    <result column="totalMoney" property="totalmoney" />
    <result column="state" property="state" />
    <!--学员-->
    <association property="client" javaType="cn.wolfcode.edu.domain.Client">
      <id column="c_id" property="id"></id>
      <result column="c_name" property="name"></result>
    </association>
    <!--课程-->


    <!--支付方式-->
    <association property="payment" javaType="cn.wolfcode.edu.domain.PayMent">
      <id column="pay_id" property="id"></id>
      <result column="pay_payname" property="payname"></result>
    </association>
    <!--班级-->

    <!--收款人-->
    <association property="receipter" javaType="cn.wolfcode.edu.domain.Employee">
      <id column="receipter_id" property="id"></id>
      <result column="receipter_realname" property="realname"></result>
    </association>
    <!--营销人员-->
    <association property="marketer" javaType="cn.wolfcode.edu.domain.Employee">
      <id column="marketer_id" property="id"></id>
      <result column="marketer_realname" property="realname"></result>
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `receiptbill`
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="cn.wolfcode.edu.domain.ReceiptBill" useGeneratedKeys="true" keyProperty="id" >
    insert into `receiptbill` (client_id, receiptTime, receiptMoney, course_id, payment_id, 
      billNum, grade_id, remark, receipter_id, marketer_id, classTrend_id, 
      totalMoney,state)
    values (#{client.id}, #{receipttime}, #{receiptmoney}, #{course.id}, #{payment.id},
      #{billnum}, #{grade.id}, #{remark}, #{receipter.id}, #{marketer.id}, #{classtrend.id},
      #{totalmoney},#{state})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.edu.domain.ReceiptBill" >
    update `receiptbill`
    set client_id = #{client.id},
      receiptTime = #{receipttime},
      receiptMoney = #{receiptmoney},
      course_id = #{course.id},
      payment_id = #{payment.id},
      billNum = #{billnum},
      grade_id = #{grade.id},
      remark = #{remark},
      receipter_id = #{receipter.id},
      marketer_id = #{marketer.id},
      classTrend_id = #{classtrend.id},
      totalMoney = #{totalmoney}
      state = #{state}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, client_id, receiptTime, receiptMoney, course_id, payment_id, billNum, 
    grade_id, remark, receipter_id, marketer_id, classTrend_id, totalMoney
    from `receiptbill`
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, client_id, receiptTime, receiptMoney, course_id, payment_id, billNum, 
    grade_id, remark, receipter_id, marketer_id, classTrend_id, totalMoney,state
    from `receiptbill`
  </select>

  <select id="queryForCount" resultType="int">
    select count(id)
    from `receiptbill`
  </select>

  <select id="queryForList" resultMap="BaseResultMap">
    select re.id,  re.receiptTime, re.receiptMoney, re.course_id, re.billNum,
    re.grade_id, re.remark, re.classTrend_id, re.totalMoney,re.state,
    c.id c_id, c.name c_name,
    pay.id pay_id, pay.payname pay_payname,
    receipter.id receipter_id, receipter.realname receipter_realname,
    marketer.id marketer_id, marketer.realname marketer_realname
    from `receiptbill` re
    left  join client c on re.client_id = c.id
    left  join payment pay on re.payment_id = pay.id
    left  join employee receipter on re.receipter_id = receipter.id
    left  join employee marketer on re.marketer_id = marketer.id

    limit #{startIndex},#{rows}
  </select>
</mapper>