<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.edu.mapper.SystemMenuMapper">
    <resultMap id="BaseResultMap" type="cn.wolfcode.edu.domain.SystemMenu">
        <id column="id" property="id"/>
        <result column="text" property="text"/>
        <result column="url" property="url"/>
        <association property="parent" javaType="SystemMenu" columnPrefix="ps_">
            <id column="id" property="id"/>
            <result column="url" property="url"/>
            <result column="text" property="text"/>
        </association>
        <association property="permission" javaType="Permission" columnPrefix="p_">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="resource" property="resource"/>
        </association>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from `systemmenu`
    where id = #{id}
  </delete>
    <insert id="insert" parameterType="cn.wolfcode.edu.domain.SystemMenu" useGeneratedKeys="true" keyProperty="id">
    insert into `systemmenu` (text, url, parent_id, permission_id)
    values (#{text}, #{url}, #{parent.id}, #{permission.id})
  </insert>
    <update id="updateByPrimaryKey" parameterType="cn.wolfcode.edu.domain.SystemMenu">
    update `systemmenu`
    set text = #{text},
      url = #{url},
      parent_id = #{parent.id},
      permission_id = #{permission.id}
    where id = #{id}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select s.id, s.text, s.url,
    ps.id ps_id, ps.url ps_url, ps.text ps_text,
    p.id p_id,p.name p_name, p.resource p_resource
    from `systemmenu` s
    left join systemmenu ps on s.parent_id = ps.id
    left join permission p on s.permission_id = p.id
    from `systemmenu`
    where s.id = #{id}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select s.id, s.text, s.url,
    ps.id ps_id, ps.url ps_url, ps.text ps_text,
    p.id p_id, p.name p_name, p.resource p_resource
    from `systemmenu` s
    left join systemmenu ps on s.parent_id = ps.id
    left join permission p on s.permission_id = p.id
  </select>

    <select id="queryForCount" resultType="int">
    select count(s.id)  from `systemmenu` s
    left join systemmenu ps on s.parent_id = ps.id
    left join permission p on s.permission_id = p.id
    </select>

    <select id="queryForList" resultType="cn.wolfcode.edu.domain.SystemMenu">
    select s.id, s.text, s.url,
    ps.id ps_id, ps.url ps_url, ps.text ps_text,
    p.id p_id,p.name p_name, p.resource p_resource
    from `systemmenu` s
    left join systemmenu ps on s.parent_id = ps.id
    left join permission p on s.permission_id = p.id
    limit #{startIndex},#{rows}
    </select>
    <select id="queryAllParentSystemMenu" resultType="cn.wolfcode.edu.domain.SystemMenu">
    select s.id, s.text, s.url,
    ps.id ps_id, ps.url ps_url, ps.text ps_text,
    p.id p_id,p.name p_name, p.resource p_resource
    from `systemmenu` s
    left join systemmenu ps on s.parent_id = ps.id
    left join permission p on s.permission_id = p.id
    where s.url = ''
    </select>
    <select id="queryRootMenu" resultMap="BaseResultMap">
        select id, text, url from   systemMenu where parent_id is null
    </select>
    <select id="querySubMenuByParentId" resultMap="BaseResultMap">
        select s.id, s.text, s.url,
        ps.id ps_id, ps.text ps_text,
        p.id p_id, p.resource p_resource
        from systemMenu s
        LEFT JOIN systemmenu ps on s.parent_id = ps.id
        LEFT JOIN permission p  on s.permission_id = p.id
        where s.parent_id = #{id}
    </select>
</mapper>